extends default

block content
  div
    a(class='btn btn-success' href='/clientes/nuevo') Crear Nuevo Cliente
  div(class='table-responsive')
    table(class='table table-striped')
      thead
        tr
          th(scope='col') #
          th(scope='col') Nombre
          th(scope='col') Correo
          th(scope='col') Direccion
          th(scope='col') Telefono
          th(scope='col') Opciones
      tbody
        each client in clients
          tr
            th(scope='row')= client.id
            td= client.name
            td= client.email
            td= client.direction
            td= client.phone
            td(class='text-center')
              a(class='btn btn-warning' href='/clientes/editar?id='+client.id style='margin-right: 10px;') Editar
              a(class='btn btn-danger' href='/clientes/eliminar?id='+client.id) Eliminar